.home-card-container {
	display: flex;
	flex: 1 1 0;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin-top: -16px;
	width: calc(100% + 16px);
	margin-left: -16px;
}

.home-card {
	padding-left: 16px;
	padding-top: 16px;
	flex-grow: 0;
	flex-basis: 30%;
	max-width: 30%;
}

.home-header {
	font-size: 2rem;
}

.image {
	cursor: pointer;
}
